* {
    margin: auto;
    text-align: center;
    
}

.initial-form {
    background-color: rgba(0, 0, 0, 0.966);
    padding-bottom: 40px;
}

input[type=text]:focus {
    /* border: 3px solid #555;
     */
     background-color: rgba(255, 255, 255, 0.959);
     outline: none;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.295);
}

input:focus {
    outline: solid 1px coral;
}

input {
    font-family: 'Ultra', serif;
    background-color: white;
    margin-left: 10px;
}

.title {
    color: coral;
    padding-top: 30px;
    padding-bottom: 12px;
    font-family: 'Ewert', cursive;
    font-size: 40px;
}

input[type="reset"] {
    margin-left: 10px;
    margin-right: 10px;
}

button, input[type="reset"] {
    /* color: black;
    background-color: white;
    margin-top: 25px;
    font-family: 'Ultra', serif;
    border-radius: 25px; */
    margin-top: 25px;
  font-weight: bold;
  text-align: center;
  
  background-color: #fff;
  border: 2px solid tan;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Ultra', serif;
}

button:hover, input[type="reset"]:hover {
  background-color: white;
  border-color: white;
  color: rgba(0, 0, 0, 0.966);
}

button:active, input[type="reset"]:active {
    color: rgba(0, 0, 0, 0.966);
    background-color: rgb(230, 221, 221);
    border-color: coral;
  }

  /* button:focus, input[type="reset"]:focus {
    outline: none;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.295);
  } */


.info {
    font-family: 'Ultra', serif;
    padding: 10px;
    color: rgba(0, 0, 0, 0.966);
}

.bounties-container {
    padding: 35px;
}

.bounties-container, .edit-form{
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(1, 2fr);
    /* grid-column-gap: 0px;
    grid-row-gap: 0px; */
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: coral;

    /* background-image:url("https://images.unsplash.com/photo-1528458965990-428de4b1cb0d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGFwcGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"); */
    /* background-color: white; */
    border-radius: 25px;
}